@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --main-color: #fff;
}

* {
  box-sizing: border-box;
}
#days {
  padding: 1px;
  font-size: 2em;
  font-weight: bold;
  color: var(--main-color);
}

body {
  background: url("/witch.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
